#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color:#32AEB1 ;
   gap:50px;
   height:10vh;
}
#navbar input:focus{
    outline: none;
}
#navbar a{
    color: #fff;
}
#bar> select {
    width: 50%;
    height: 50px;
    border: 0px;
    border-radius: 10px;
font-size: 10px;
font-weight: 400;
line-height: 22px;
color: rgba(11, 18, 25, 0.5)
  }
#navhead
{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;;
}
#navbar > img{
    cursor: pointer;
    outline: none;
    width:10%;
}
#navbar> div{
    display: flex;
    justify-content: space-evenly;
    justify-content: center; 
     align-items: center;
    gap:5px;
}

#dropdown{
 display:flex;
 flex-direction:column;
 justify-content: center;
 text-align: center;
 background-color: #FFFFFF;
 /* width: 100%; */
 /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
a{
  color: black;
  display: block;
   padding: 5px;;
   font-size: 14px;;
   text-decoration: none;
   /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px*/
}
a:hover{
    color:#32AEB1;
}
#medbtn-1{
    cursor: pointer;
    background-color: #32AEB1;
    color: white;
    border: none;
}
  
#navbar>div>p{
    color:#FFFFFF;
    cursor: pointer;
    outline: none;
}

.fa-solid{
    color:#FFFFFF;
    cursor: pointer;
    outline: none;
    
}
#bar{
    background-color: #FFFFFF;
    border-radius: 5px;;
    gap:5px;
}

#bar>input{
    border: none;
    font-size: 10px;
    font-weight: 400;
    width:200px;
}

#bar>input:nth-child(1){
    border: none;
    font-weight: 400;
    width: 20%;
    color:grey;
    
}
#bar>input:nth-child(2){
    font-weight: 400;
    color:grey;
    
    
}

#bar>button{
    border: none;
    background-color: #FFFFFF;
}



input[type="radio"] {
  display: none;
}

.manual-btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.manual-btn:hover {
  background-color: #555;
}
.Ani{
    margin: 0;
    padding: 0;
    font-size: 20px;
    /* margin:auto; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top:50px;;
}
.slider{
    position: relative;
    width:90%;
    height: 320px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
overflow: hidden;
cursor: pointer;
outline: none;

}
.slides{
    display: flex;
    width: 550%;
    height: 100%;
}
.slider>input{
    display: none;
}
.slide{
    width:20%;
    transition: 2s;
}
.Ani>img{
    width:100%;
    background-size: cover;
}
.navigation_manual,.navigation_auto{
    position: absolute;
    bottom: 0;;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;;
}
.manualbtn,.navigation_auto div{
    border: 2px solid#2874F0;;
    padding: 5px;;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.manualbtn:not(:last-child),.navigation_auto div:not(:last-child)
{
    margin-right:10px ;
}
.manualbtn:hover,.navigation_auto div:hover{
    background-color: #32AEB1;
}
#radio1.checked ~.navigation_auto.autobtn1{
    background-color: #32AEB1;
}
#radio2.checked ~.navigation_auto.autobtn2{
    background-color: #32AEB1;
}
#radio3.checked ~.navigation_auto.autobtn3{
    background-color: #32AEB1;
}
#radio4.checked ~.navigation_auto.autobtn4{
    background-color: #32AEB1;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}
#imageItems{
    display: flex;
    justify-content:space-between;
    margin: auto;
    width: 90%;
}
#imageItems>div{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 align-items: center;
    width:32%;
    height: 10vh;
    gap:20px;
    margin-top: 25px;
    text-align: center;
    border-radius:3px;
    cursor: pointer;
}
#imageItems>div>img{
    padding: 10px;
   width: 15%;
}
#imageItems>div>div>p{
    color:#87ca4c
}
#imageItems>div>.fa{
    display: flex;
    color:#2874F0;
     margin-left:35%
}
#imageItems>div>.fa:hover{
   
    color: #32AEB1;
}
#Payment{
    margin-top: 10px;;
    width:90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: none;
}
#Payment>a{
    margin-top: 50px;
    color: crimson;
}
#Payment >div{
    display: flex;
}
#Paytm{
    display: flex;
    justify-content:space-between;
    margin: auto;
    width: 90%;
}
#Paytm>div{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:32.5%;
    height: 10vh;
    gap:20px;
    margin-top: 25px;
    border-radius:3px;
    cursor: pointer;
}
#Paytm>div>img{
    padding: 10px;
   width: 15%;
}
#Paytm>div>div>h3{
    font-size: 12px;
      
}
#Paytm>div>div>p{
    font-size:11px;
      
}

input[type="Tradio"] {
    display: none;
  }
  
  .Tmanual-btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .Tmanual-btn:hover {
    background-color: #555;
  }
  .Trend{
      margin: 0;
      padding: 0;
      font-size: 20px;
      /* margin:auto; */
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
      margin-top:20px;;
      justify-content: space-evenly;
  }
  .Tslider{
      margin: auto;
      position: relative;
      width:90%;
      height:30vh;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-evenly;
  }
  .Tslides{
      display: flex;
      gap:15px;
      width:650vh;
      height:100vh;;
  }
  .Tslider>input{
      display: none;
  }
  .Tslide{
      width:20%;
      transition: 2s;
  }
  .Trend>img{
      width:100%;
      background-size: cover;
      border-radius: 10px;;
  }
  .Tnavigation_manual,.Tnavigation_auto{
      position: absolute;
      bottom: 0;;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;;
  }
  .Tmanualbtn,.Tnavigation_auto div{
      border: 2px solid#2874F0;;
      padding: 5px;;
      border-radius: 50%;
      transition: 1s;
      cursor: pointer;
      outline: none;
      user-select: none;
  }
  .Tmanualbtn:not(:last-child),.Tnavigation_auto div:not(:last-child)
  {
      margin-right:10px ;
  }
  .Tmanualbtn:hover,.Tnavigation_auto div:hover{
      background-color: #32AEB1;
  }
  #Tradio1.checked ~.navigation_auto.autobtn1{
      background-color: #32AEB1;
  }
  #Tradio2.checked ~.navigation_auto.autobtn2{
      background-color: #32AEB1;
  }
  #Tradio3.checked ~.navigation_auto.autobtn3{
      background-color: #32AEB1;
  }
  #Tradio4.checked ~.navigation_auto.autobtn4{
      background-color: #32AEB1;
  }
  #Tradio1:checked ~.first{
      margin-left: 0;
  }
  #Tradio2:checked ~.first{
      margin-left: -20%;
  }
  #Tradio3:checked ~.first{
      margin-left: -40%;
  }
  #Tradio4:checked ~.first{
      margin-left: -60%;
  }
  
#imageMed{
    display: flex;
    justify-content:space-between;
    margin: auto;
    width: 90%;
}
#imageMed>div{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 align-items: center;
    width:48%;
    height: 10vh;
    gap:20px;
    margin-top: 25px;
    border-radius:3px;
    cursor: pointer;
  padding-left: 20px;
  justify-content: space-between;
}
#imageMed>div>img{
   width: 11.8%;
   border-color: white;
   border-radius: 2px;;

}
#imageMed>div>div>p{
    color:#87ca4c
}
#imageMed>div>.fa{
    display: flex;
    color: black;
}
#imageMed>div>.fa:hover{
   
    color: #32AEB1;
}
#Limited
{ padding-bottom: 10px;
    margin-top: 10px;;
    width:90%;
    margin: auto;
    margin-top:40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 6vh;


}#offer{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-left: 20px;;
    color: red;


}
#Limited>div{
    align-items: center;
    display: flex;
}
#Hurry{
    background-color:#7CCED0;
   width:90%;
   margin: auto;
   height: 64vh;
   margin-bottom: 30px;
}
#Hurry >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding-left: 20px;
}
#Hurry >div>a{
    color:white;;
}
#Hurry >div >img{
    
   border:10px ;
   overflow: hidden;
  outline: none;
  width:11.1%;
border-radius: 50px;;
height: 40.5vh;
margin-right: -30px;
}
.Cslider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  
  .Cslider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .Cslide {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    padding-bottom: 20px;;
    overflow: hidden;
    cursor: pointer;
  }
  
  .Cproduct img {
  width:100%;
  height:25vh;
  margin-bottom:-10px;;
  
  }
  .product> div
  {
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0%;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .prev-btn {
    left:10px;
   background-color: rgb(255, 252, 252);
    border-radius: 1000px;
  }
  
  .next-btn {
    right:10px;
    background-color: rgb(255, 252, 252);
     border-radius: 1000px;
  }
  .product{
      display: flex;
      flex-direction: column;
      justify-content:center;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding-top: 5px;
      padding-bottom: 5px;;
      border-radius: 6px;;
      background-color: #FFFFFF;
      width:18%;
   }
   .product button{
      border: none;;
      display: flex;
     /* padding: 1% 8% 1% 10%; */
     border-radius: 3px;;
     background-color: #32AEB1;
     text-align: center;
  font-size:14px;
  width: 90%;
  font-weight: 400;
  line-height: 21px;
   color: rgb(255, 255, 255);
   cursor: pointer;
   justify-content: center;
   align-items: center;
   margin: auto;
  }
  .product button:hover {
      background-color: #0428dc;
    }
   .product a{
      text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(11, 18, 25);
  text-decoration: none;
  padding-left: 10px;
  letter-spacing: normal;
   }
   .product span{
      text-decoration: line-through;
      text-align: left;
      color: rgb(185, 185, 185);
      font-size: 10px;
  font-weight: 400;
  line-height:14px;
  margin-left:10px;
  letter-spacing: normal;
  
     
   }
   .product> p{
      text-align: left;
      font-size: 14px;
  font-weight: 400;
  line-height:20px;
  margin-left: 10px;gap: 50px;;
  letter-spacing: normal;
  color: rgb(11, 18, 25);
   }
  .product > h1{
     text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height:20px;
  color: #70f000;
  letter-spacing: normal;
  margin:-15px 40px 40px 10px;;
  
   }
   
   #Deal{
    background-color:#DC638E;
   width:90%;
   margin: auto;
   height: 63vh;
   margin-bottom: 30px;
}
#Deal>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding-left: 20px;
}
#Deal >div>a{
    color:white;;
}
#Deal>div >img{
    
   border:10px ;
   overflow: hidden;
  outline: none;
  width:11.1%;
border-radius: 50px;;
height: 40.5vh;
margin-right: -30px;
}
.Hslider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  
  .Hslider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .Hslide {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    padding-bottom: 20px;;
    overflow: hidden;
    cursor: pointer;
  }
  
  .Hproduct img {
  width:100%;
  height:31vh;
  margin-bottom:-10px;;
  
  }
  
  .Hprev-btn, .Hnext-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .Hprev-btn {
    left:10px;
   background-color: rgb(255, 252, 252);
    border-radius: 1000px;
  }
  
  .Hnext-btn {
    right:10px;
   background-color: rgb(255, 252, 252);
    border-radius: 1000px;
  }
  .Hproduct{
      display: flex;
      flex-direction: column;
      justify-content:center;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding-top: 5px;
      padding-bottom: 5px;;
      border-radius: 6px;;
      background-color: #FFFFFF;
      width:18%;
   }
   .Hproduct button{
      border: none;;
      display: flex;
     /* padding: 1% 8% 1% 10%; */
     border-radius: 3px;;
     background-color: #32AEB1;
     text-align: center;
  font-size:14px;
  width: 90%;
  font-weight: 400;
  line-height: 21px;
   color: rgb(255, 255, 255);
   cursor: pointer;
   justify-content: center;
   align-items: center;
   margin: auto;
  }
  .Hproduct button:hover {
      background-color: #0428dc;
    }
   .Hproduct a{
      text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(11, 18, 25);
  text-decoration: none;
  padding-left: 10px;
  letter-spacing: normal;
   }
   .Hproduct span{
      text-decoration: line-through;
      text-align: left;
      color: rgb(185, 185, 185);
      font-size: 10px;
  font-weight: 400;
  line-height:14px;
  margin-left:10px;
  letter-spacing: normal;
  
     
   }
   .Hproduct> p{
      text-align: left;
      font-size: 14px;
  font-weight: 400;
  line-height:20px;
  margin-left: 10px;gap: 50px;;
  letter-spacing: normal;
  color: rgb(11, 18, 25);
   }
  .Hproduct > h1{
     text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height:20px;
  color: #70f000;
  letter-spacing: normal;
  margin:-15px 40px 40px 10px;;
  
   }
   .Hproduct> div
   {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0%;
   }
#sup{
    background-color:#7CCED0;
   width:90%;
   margin: auto;
   height: 63vh;
   margin-bottom: 30px;
}
#sup>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    color: #fff;
}
#sup >div>a{
    color:white;;
font-size: 16px;
font-weight: 400;
line-height: 24px; color: rgb(11, 18, 25);

}
/* #sup>div >img{
   border:10px ;
   overflow: hidden;
  outline: none;
  width:11.1%;
border-radius: 50px;;
height: 40.5vh;
margin-right: -30px;
} */
#sup .Supslider-container {
    width:100%;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  
  .Supslider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    padding: 0;
  }
  
  .Supslide {
    flex-shrink: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    padding-bottom: 20px;;
    overflow: hidden;
    cursor: pointer;
  }
  
 #supimg {
  width:100%;
  height:30vh;
  margin-bottom:-10px;;
  
  }
  
  .Supprev-btn, .Supnext-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .Supprev-btn {
    left:10px;;
    border-radius: 70px;
  }
  
  .Supnext-btn {
    right:10px;
    border-radius: 50px;
  }
  .Supproduct{
      display: flex;
      flex-direction: column;
      justify-content:center;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding-top: 5px;
      padding-bottom: 5px;;
      border-radius: 6px;;
      background-color: #FFFFFF;
      width:18%;
   }
   .Supproduct> div
   {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0%;
   }
 #Btn{
      border: none;;
      display: flex;
     /* padding: 1% 8% 1% 10%; */
     border-radius: 3px;;
     background-color: #32AEB1;
     text-align: center;
  font-size:14px;
  width: 90%;
  font-weight: 400;
  line-height: 21px;
   color: rgb(255, 255, 255);
   cursor: pointer;
   justify-content: center;
   align-items: center;
   margin: auto;
   padding: 8px;
  }
  #supname{
      text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(11, 18, 25);
  text-decoration: none;
  padding: 0;
  padding-left: 10px;
  letter-spacing: normal;
   }
 #supmrp{
      text-decoration: line-through;
      text-align: left;
      color: rgb(185, 185, 185);
      font-size: 10px;
  font-weight: 400;
  line-height:14px;
  margin-left:3px;
margin-top: 14px;
  letter-spacing: normal;
 }
  
      #supprice{
      text-align: left;
      font-size: 14px;
  font-weight: 400;
  line-height:20px;
  margin-left:10px;
  letter-spacing: normal;
  color: rgb(25, 11, 11);
  display: inline-block;
   } #supoff{
     padding-top: 10px;
     text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height:20px;
  color: #70f000;
  letter-spacing: normal;
  margin:-15px 40px 40px 10px;;
  
   }
   #Category
   {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;;
   }
   #Shopby>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
#Shopby>div>a{
    color:red
}
#Shopby>div>div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#Shopby>div>div>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* align-items: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  justify-content: center;
   width:19%;
    border-radius: 5px;
}
#Shopby>div>div>div>img{
    width: 100%;
    padding-bottom: 0;
   
}
#Shopby>div>div>div>a{
    font-size: 16px;
    font-weight:400;
    line-height: 22px;
    color: rgb(11, 18, 25);
   
}
#Shopby>div>div>div>p{
    font-size: 14px;
    font-weight:400;
    line-height: 20px;
    color: rgb(91, 164, 28);
}
#Best{
    background-color:#7CCED0;
   width:90%;
   margin: auto;
   height: 62vh;
   margin-bottom: 30px;
}
#Best>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding-left: 20px;
}
.Bestproduct> div
{
 display: flex;
 align-items: center;
 margin: 0;
 padding: 0%;
}

#Best >div>a{
    color:white;;
}
#Best>div >img{
   border:10px ;
   overflow: hidden;
  outline: none;
  width:11.1%;
border-radius: 50px;;
height: 40.5vh;
margin-right: -30px;
}
#Best .Bestslider-container {
    width:100%;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  
  .Bestslider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    padding: 0;
  }
  
  .Bestslide {
    flex-shrink: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    padding-bottom: 20px;;
    overflow: hidden;
    cursor: pointer;
  }
  
  .Bestproduct img {
  width:100%;
  height:30vh;
  margin-bottom:-10px;;
  
  }
  
  .Bestprev-btn, .Bestnext-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .Bestprev-btn {
    left:10px;;
    border-radius: 70px;
  }
  
  .Bestnext-btn {
    right:10px;
    border-radius: 50px;
  }
  .Bestproduct{
      display: flex;
      flex-direction: column;
      justify-content:center;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding-top: 5px;
      padding-bottom: 5px;;
      border-radius: 6px;;
      background-color: #FFFFFF;
      width:18%;
   }
   .Bestproduct button{
      border: none;;
      display: flex;
     /* padding: 1% 8% 1% 10%; */
     border-radius: 3px;;
     background-color: #32AEB1;
     text-align: center;
     padding: 8px;;
  font-size:14px;
  width: 90%;
  font-weight: 400;
  line-height: 21px;
   color: rgb(255, 255, 255);
   cursor: pointer;
   justify-content: center;
   align-items: center;
   margin: auto;
  }
  .Bestproduct button:hover {
      background-color: #0428dc;
    }
   .Bestproduct a{
      text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(11, 18, 25);
  text-decoration: none;
  padding-left: 10px;
  letter-spacing: normal;
   }
   .Bestproduct span{
      text-decoration: line-through;
      text-align: left;
      color: rgb(185, 185, 185);
      font-size: 10px;
  font-weight: 400;
  line-height:14px;
  margin-left:10px;
  letter-spacing: normal;
  
     
   }
   .Bestproduct> p{
      text-align: left;
      font-size: 14px;
  font-weight: 400;
  line-height:20px;
  margin-left: 10px;gap: 50px;;
  letter-spacing: normal;
  color: rgb(11, 18, 25);
   }
  .Bestproduct > h1{
     text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height:20px;
  color: #70f000;
  letter-spacing: normal;
  margin:-15px 40px 40px 10px;;
  
   }
#brand_infocus{
    width: 90%;
    margin:auto;
    border-bottom:solid 1px rgb(115, 116, 124);
margin-bottom: 50px;;
}
#brand_infocus>div{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}
#brand_infocus .Brandslider-container {
    width:100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    align-items:center;
    text-align: center;

  }
  
  .Brandslider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    padding: 0;
  }
  
  .Brandslide {
    flex-shrink: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    padding-bottom: 30px;;
    overflow: hidden;
    cursor: pointer;
  }
  
  .Brandproduct img {
  width:100%;
  height:30vh;
  margin-bottom:-10px;;
  margin: auto;
  
  }
  
  .Brandprev-btn, .Brandnext-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .Brandprev-btn {
    left:10px;;
    border-radius: 70px;
  }
  
  .Brandnext-btn {
    right:10px;
    border-radius: 50px;
  }
  .Brandproduct{
      display: flex;
      flex-direction: column;
      justify-content:center;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
      padding-top: 5px;
      padding-bottom: 5px;;
      border-radius: 6px;;
      background-color: #FFFFFF;
      width:18%;
      margin: auto;
   }
  
   .Brandproduct a{
      text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(11, 18, 25);
  text-decoration: none;
  letter-spacing: normal;

   }
     
  .Brandproduct > h1{
     text-align:center;
  font-size: 14px;
  font-weight: 400;
  line-height:20px;
  color:rgb(91, 164, 28);
  letter-spacing: normal;
   }
   #Membershipbar{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
    
   }
   #Membershipbar>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
   
    
   }
   #Membershipbar >div >img{
  height: 10vh;
  margin-right: 20px;

    
   }
   #Membershipbar >div> div>h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.08px;
    color: rgb(11, 18, 25)
     }
     #Membershipbar > div>p{
        font-size: 16px;
        font-weight: 400;
        line-height:16px;
        color:rgb(239, 66, 129);
         }
         #Membershipbar > div>button{
            font-size: 14px;
            font-weight: 700;
            line-height:48.02px;
            color:rgb(11, 18, 25);
            border: none;
            background-color: #F9CC0D;
            border-radius: 5px;;
            margin-left: 50px;
            width: 170px;
         }
         #New_On{
            width: 90%;
            margin: auto;
         }
         input[type="Nradio"] {
            display: none;
          }
          
          .Nmanual-btn {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 10px;
            border-radius: 50%;
            background-color: #ccc;
            cursor: pointer;
          }
          
          .Nmanual-btn:hover {
            background-color: #555;
          }
          .Nrend{
              margin: 0;
              padding: 0;
              font-size: 20px;
              /* margin:auto; */
              box-sizing: border-box;
              display: flex;
              align-items: center;
              justify-content: center;
              width:100%;
              margin-top:20px;;
              justify-content: space-evenly;
          }
          .Nslider{
              margin: auto;
              position: relative;
              width:100%;
              height:30vh;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          overflow: hidden;
          cursor: pointer;
          outline: none;
          display: flex;
          justify-content: space-evenly;
          }
          .Nslides{
              display: flex;
              gap:15px;
              width:650vh;
              height:100vh;;
          }
          .Nslider>input{
              display: none;
          }
          .Nslide{
              width:20%;
              transition: 2s;
          }
          .Nrend>img{
              width:100%;
              background-size: cover;
              border-radius: 10px;;
          }
          .Nnavigation_manual,.Nnavigation_auto{
              position: absolute;
              bottom: 0;;
              left: 0;
              width: 100%;
              display: flex;
              justify-content: center;
              margin-bottom: 40px;;
          }
          .Nmanualbtn,.Nnavigation_auto div{
              border: 2px solid#2874F0;;
              padding: 5px;;
              border-radius: 50%;
              transition: 1s;
              cursor: pointer;
              outline: none;
              user-select: none;
          }
          .Nmanualbtn:not(:last-child),.Nnavigation_auto div:not(:last-child)
          {
              margin-right:10px ;
          }
          .Nmanualbtn:hover,.Nnavigation_auto div:hover{
              background-color: #32AEB1;
          }
          #Nradio1.checked ~.Navigation_auto.autobtn1{
              background-color: #32AEB1;
          }
          #Nradio2.checked ~.Nnavigation_auto.autobtn2{
              background-color: #32AEB1;
          }
          #Nradio3.checked ~.Nnavigation_auto.autobtn3{
              background-color: #32AEB1;
          }
          #Nradio4.checked ~.Nnavigation_auto.autobtn4{
              background-color: #32AEB1;
          }
          #Nradio1:checked ~.first{
              margin-left: 0;
          }
          #Nradio2:checked ~.first{
              margin-left: -20%;
          }
          #Nradio3:checked ~.first{
              margin-left: -40%;
          }
          #Nradio4:checked ~.first{
              margin-left: -60%;
          }
          #Cat_infocus{
            width: 90%;
            margin:auto;
        margin-bottom: 10px;;
        }
        #Cat_infocus>div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
        }
        #Cat_infocus>div>div{
            display: flex;
            align-items: center;
            margin: auto;
            justify-content: center;
        }
        #Cat_infocus .Catslider-container {
            width:100%;
            position: relative;
            overflow: hidden;
            margin: auto;
            align-items:center;
            text-align: center;
        
          }
          
          .Catslider {
            display: flex;
            width: 100%;
            transition: transform 0.5s ease-in-out;
            padding: 0;
          }
          
          .Catslide {
            flex-shrink: 0;
            width: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
            justify-content:space-evenly;
            padding-bottom: 30px;;
            overflow: hidden;
            cursor: pointer;
          }
          
          .Catproduct img {
          width:100%;
          height:30vh;
          margin-bottom:-10px;;
          margin: auto;
          
          }
          
          .Catprev-btn, .Catnext-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            cursor: pointer;
            background-color: #fff;
            border: none;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
            color: #333;
          }
          
          .Catprev-btn {
            left:10px;;
            border-radius: 70px;
          }
          
          .Catnext-btn {
            right:10px;
            border-radius: 50px;
          }
          .Catproduct{
              display: flex;
              flex-direction: column;
              justify-content:center;
              text-align: center;
              box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
              padding-top: 5px;
              padding-bottom: 5px;;
              border-radius: 6px;;
              background-color: #FFFFFF;
              width:18%;
              margin: auto;
           }
          
           .Catproduct a{
              text-align: center;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          color: rgb(11, 18, 25);
          text-decoration: none;
          letter-spacing: normal;
        
           }
             
          .Catproduct > h1{
             text-align:center;
          font-size: 14px;
          font-weight: 400;
          line-height:20px;
          color:rgb(91, 164, 28);
          letter-spacing: normal;
           }
           #line{
            display: flex;
            width: 90%;
            margin: auto;
            justify-content: space-between;
            padding: 3px;
           border-top: rgb(115, 116, 124,0.9) solid 1px;
           border-bottom: rgb(115, 116, 124,0.9) solid 1px;
            margin-bottom: 20px;
            height: 16vh
            
           }
           #line>div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            border-left: #555 solid 1px;;
            padding-left: 10px;
           
            
           }
           #line>div >img{
          height: 10vh;
          margin-right: 20px;
          background: transparent;
        
            
           }
           #line>div> div>h2{
            font-size: 20px;
            font-weight: 700;
            line-height: 28.08px;
            color: rgb(11, 18, 25)
             }
             #line> div>p{
                font-size: 14px;
                font-weight: 400;
                line-height:16px;
                color:rgb(239, 66, 129);
                 }
.paragraph{
    display: flex;
    width: 90%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: MyFont, sans-serif;
    border-bottom:  rgb(115, 116, 124,0.5) solid 1px;
}
.accordion{
    width: 90%;
    margin: auto;
    margin-top: 50px;


}
.accordion h2{
    font-size: 16px;
    font-weight: 500;
    
    line-height: 19.2px;
    
     color: rgb(11, 18, 25);

}
.accordion li{
    font-size: 13px;
    font-weight: 400;
    
    line-height: 19.2px;
    
     color: rgb(11, 18, 25);

}
.accordion p{
    font-size: 13px;
    font-weight: 400;
    
    line-height: 19.2px;
    
     color: rgb(11, 18, 25);

}
.accordion .contentbox{
    position:relative;
    margin:10px 20px;
}
.accordion .contentbox .label{
    position: relative;
    padding: 10px;
    
}
.accordion .contentbox .label::before{
  content: "+";
  position: absolute;
right: 20px;;
top: 50%;
font-size:1.5em;
transform: translateY(-50%);
}
.accordion .contentbox .content{
    position: relative;
    overflow: hidden;
   height: 0;
   overflow-y: auto;
}
.accordion .contentbox.active .content{
    height:100%;
   
}
.accordion .contentbox.active  .label::before{
    content: '-';
}
.bottom{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}
.liner{
  display: flex;
  width: 90%;
  border-bottom: rgb(115, 116, 124,0.5) solid 1px;
  margin: auto;

  justify-content: space-evenly;
   align-items: center;

}
.liner > div{
    display: flex;
  padding: 20px;
  
  }
  .liner > div>img{
   
  width: 90px
  }
  .liner > div>div>h2{
  padding-top: 15px;
font-size: 26px;
font-weight:400;
line-height: normal;
color: rgba(38, 35, 35, 0.763);
margin: 0;
   }
   .liner > div>div>p{
    font-size: 16px;
    font-weight:400;
    line-height: normal;
    color:rgba(38, 35, 35, 0.763);;
    margin: 0;
   }
   .liner1{
    display: flex;
    width: 90%;
    border-bottom: rgba(44, 217, 21, 0.5) solid 1px;
    margin: auto;
     align-items: center;
     /* padding: 30px; */

   }
   .liner1 > div{
    display: flex;
    gap:30px;
    padding: 30px;
  }
  .liner1 > div>img{
    width: 150px;
  }
  .liner1 > div>div>p{
    font-size: 16px;
    font-weight:400;
    line-height: 24px;
    color: rgb(11, 18, 25,0.5);
    margin: 0;
   }
   .footer{
    width: 100%;
    height:100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_JOwWlSttHehbGcqxQaq1KEqIddepJ5YWpmE0vE8lJH3k_jhjvZbBubXXzFxjyG7d-9xnIRViT8I&usqp=CAU&ec=48600113");
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
   }
   .footer>div{
    display: flex;
    flex-direction: column;
    text-align: center;
   }
   .footer>div>h2{
   
font-size: 14px;
font-weight:500;
line-height: 22px;
color: rgb(11, 18, 25);
margin: 10px;
   }
   .footer>div>p{
    font-size: 13px;
font-weight:400;
line-height: 32px;
color:rgb(11, 18, 25);
margin: 10px;
   }
   .footer>div>input{

margin-top: 10px;;
   }
   .footer>div>div{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;;
   }
   
